{% extends 'base.html' %}
{% block content %}
<h2 class="mb-4">Products</h2>

<div class="mb-3">
    <a href="{% url 'product_create' %}" class="btn btn-primary">New Product</a>
</div>

<div class="card shadow table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="col-priority-1">Name</th>
                <th class="col-priority-3">Code</th>
                <th class="col-priority-2">Cost</th>
                <th class="col-priority-1">RRP</th>
            </tr>
        </thead>

        <tbody>
        {% for product in products %}
            <tr>
                <td class="col-priority-1">
                    <a href="{% url 'product_view' product.id %}" class="btn btn-outline-primary btn-sm">
                        {{ product.productname }}
                    </a>
                </td>
                <td class="col-priority-3">{{ product.productcode }}</td>
                <td class="col-priority-2">€{{ product.costprice }}</td>
                <td class="col-priority-1">€{{ product.rrp }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
