{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2 class="mb-4">
    {{ title }}
</h2>

<div class="card shadow">
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            {% include 'renewal-fields.html' %}

            <button type="submit" class="btn btn-primary">Save</button>
            <a href="{% url 'renewals' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>

<script src="{% static 'js/renewal-form.js' %}"></script>
{% endblock %}